<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FacultyMaster</servlet-name>
        <servlet-class>FacultyMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultysubjectdetail</servlet-name>
        <servlet-class>facultysubjectdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectMaster</servlet-name>
        <servlet-class>SubjectMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyProfileSettings</servlet-name>
        <servlet-class>FacultyProfileSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectChoiceDetails</servlet-name>
        <servlet-class>SubjectChoiceDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentMaster</servlet-name>
        <servlet-class>StudentMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFeesDetail</servlet-name>
        <servlet-class>StudentFeesDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Timetable</servlet-name>
        <servlet-class>Timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRequest</servlet-name>
        <servlet-class>DisplayRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFinal</servlet-name>
        <servlet-class>LoginFinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeHeader</servlet-name>
        <servlet-class>HomeHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestMaster</servlet-name>
        <servlet-class>RequestMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudent</servlet-name>
        <servlet-class>RegisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveStudent</servlet-name>
        <servlet-class>SaveStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutomaticLogin</servlet-name>
        <servlet-class>AutomaticLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoMailLogin</servlet-name>
        <servlet-class>AutoMailLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>Settings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEventMaster</servlet-name>
        <servlet-class>NewEventMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsEventMaster</servlet-name>
        <servlet-class>NewsEventMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendance</servlet-name>
        <servlet-class>Attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialMaster</servlet-name>
        <servlet-class>MaterialMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsFaculty</servlet-name>
        <servlet-class>SettingsFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMaster</servlet-name>
        <servlet-class>TestMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestQuestionMaster</servlet-name>
        <servlet-class>TestQuestionMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePaper</servlet-name>
        <servlet-class>GeneratePaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscussion</servlet-name>
        <servlet-class>CreateDiscussion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscussAnswer</servlet-name>
        <servlet-class>DiscussAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyDiscussAnswer</servlet-name>
        <servlet-class>FacultyDiscussAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureLink</servlet-name>
        <servlet-class>LectureLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingStudent</servlet-name>
        <servlet-class>SettingStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacultyMaster</servlet-name>
        <url-pattern>/FacultyMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultysubjectdetail</servlet-name>
        <url-pattern>/facultysubjectdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectMaster</servlet-name>
        <url-pattern>/SubjectMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectChoiceDetails</servlet-name>
        <url-pattern>/SubjectChoiceDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentMaster</servlet-name>
        <url-pattern>/StudentMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFeesDetail</servlet-name>
        <url-pattern>/StudentFeesDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timetable</servlet-name>
        <url-pattern>/Timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyProfileSettings</servlet-name>
        <url-pattern>/FacultyProfileSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRequest</servlet-name>
        <url-pattern>/DisplayRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFinal</servlet-name>
        <url-pattern>/LoginFinal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeHeader</servlet-name>
        <url-pattern>/HomeHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestMaster</servlet-name>
        <url-pattern>/RequestMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudent</servlet-name>
        <url-pattern>/RegisterStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveStudent</servlet-name>
        <url-pattern>/SaveStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutomaticLogin</servlet-name>
        <url-pattern>/AutomaticLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoMailLogin</servlet-name>
        <url-pattern>/AutoMailLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEventMaster</servlet-name>
        <url-pattern>/NewEventMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsEventMaster</servlet-name>
        <url-pattern>/NewsEventMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendance</servlet-name>
        <url-pattern>/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialMaster</servlet-name>
        <url-pattern>/MaterialMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsFaculty</servlet-name>
        <url-pattern>/SettingsFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMaster</servlet-name>
        <url-pattern>/TestMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestQuestionMaster</servlet-name>
        <url-pattern>/TestQuestionMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePaper</servlet-name>
        <url-pattern>/GeneratePaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscussion</servlet-name>
        <url-pattern>/CreateDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscussAnswer</servlet-name>
        <url-pattern>/DiscussAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyDiscussAnswer</servlet-name>
        <url-pattern>/FacultyDiscussAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureLink</servlet-name>
        <url-pattern>/LectureLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingStudent</servlet-name>
        <url-pattern>/SettingStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
